@media only screen and (min-width: 992px) and (max-width: 1280px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    
    a.active,a:hover{
        background: darkmagenta;
        text-decoration: none;
     }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px){
    
    .main-ads{
        width: 90%;
    }

    .slide-area{
      z-index: 1;
    }

 

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px){

    .top-logo{
        display: none;
    }
    .main-ads{
        width: 100%;
        height: 50px;
        margin: auto;
    }
    nav .brand-name{
        display: block;
        font-size: 14px;
        line-height: 60px;
        float: right;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .checkbtn{
        display: block;
    }

      a:hover,a.active{
        background: none;
        color: white;
    }
  
}

@media only screen and (min-width: 480px) and (max-width: 767px) { 
    .checkbtn{
        display: block;
      }
  
    
}