*{
    margin: 0;
    padding: 0;
}
.top-logo{
    padding: 15px;
}
.top-width{
    background-color: #000000;
}

.logo-img{
    width: 80px;
}
.main-ads{
    float: right;
    height: 80px;
}

.top-menu{
    background-color: #fa1939;
    /* background-color: blue; */
    height: 60px;
}

nav{
    background: #fa1939;
    height: 60px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
}
nav ul{
    float: left;
    overflow: hidden;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 -2px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 18px;
    margin: 0px;
    text-transform: uppercase;
    border-radius: 0;
    text-decoration: none;
}
a.active,a:hover{
    background: darkmagenta;
    text-decoration: none;
 }
.checkbtn{
    font-size: 30px;
    color: white;
    float: left;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

nav .brand-name{
    display: none;
}

section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}