*{
    margin: 0px;
    padding: 0px;
}
.top-logo{
    padding: 15px;
}
.top-width{
    background-color: #000000;
}

.logo-img{
    width: 80px;
}
.main-ads{
    float: right;
    height: 80px;
}

.top-menu{
    background-color: #fa1939;
    /* height: 60px; */
}
.ads-area{
    padding: 0;
    margin: 0;
}

.ads{
    background-color: white;
    float: right;
    padding-left: 10px;
}
.ads img{
    margin: 0 auto;
    float: right;
    max-width: 100%;
    border: 0;
    height: 245px;
}
.ads1{
    padding-bottom: 10px;
}

 nav{
    background: #fa1939;
    height: auto;
    width: 100%;
    padding: 0 !important;
}

nav ul{
    float: left;
    overflow: hidden;
}
nav ul li{
    display: inline-block;
    line-height: 45px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 10px 20px!important;
    margin: 0px;
    text-decoration: none;
    font-family: 'Bayon', cursive;
}
.nav-link.active,
.nav-link:hover{
    background: darkmagenta;
    text-decoration: none;
 }


.slide-area{
    margin:0px; 
}

.slide-box{
    background-color: blue;
    float: left;
}

.slide{
    float: left;
    padding: 0;
    margin: 0;
    height: 250px;
}
.slide:hover{
    cursor: pointer;
}
.slide:hover .main-slide-title{
    color: #fa1939;
}
.slide:hover .slide-title-discription{
    display: block;
    transition: .5s;
}
.slide:hover .slide-discription{
    transition: .5s ease;
}
.slide:hover .slide-hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.slide img{
    width: 100%;
    height: 100%;
}

.slide-category{
    z-index: 25;
    position: absolute;
    font-family: 'Bayon', cursive;
    padding: 0 8px 0 15px;
    top: 10px;
    font-size: 13px;
    left: 0;
    color: #fff;
    width: 65px;
    height: 30px;
    line-height: 30px;
    background-color: #4390F8;
    clip-path: 
        polygon(
            0% 0%,
            80% 0,  
            100% 100%,
            100% 100%,
            0% 100%
        );
    /* https://bennettfeely.com/clippy/ */
}

.slide-discription{
    position: absolute;
    bottom: 30px;
    z-index: 5;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    width: 100%;
}
.slide-hover{
    position: absolute;
    bottom: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.main-slide-title,
.slide-title-discription{
    padding: 0px 15px 0px 15px;
}
.slide-title-discription{
    display: none;
}
.slide-upload-date{
    position: absolute;
    bottom: 5px;
    left: 15px;
    z-index: 2;
    color: white;
    width: 100%;
}
/* End Slide Area */

.category{
    position: absolute;
    font-family: 'Bayon', cursive;
    padding: 0 8px 0px 15px;
    font-size: 18px;
    color: #fff;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #4390F8;
    z-index: 10;
    clip-path: 
        polygon(
            0% 0%,
            80% 0,  
            100% 100%,
            100% 100%,
            0% 100%
        );
}

.category-item{
    padding-left: 10px;
    color: white;
}

.category-item:hover{
    text-decoration: none;
    color: white;
}

.vertical-line{
    width: 100%;
    height: 7px;
    background-color: red;
    top: 43px;
    position: relative;
    z-index: 3;
}

.cate-entertainment{
    background-color: #FA5480;
    width: 120px;
}
.cate-sport{
    background-color: #4390F8;
    width: 120px;
}

.cate-life{
    background-color: #F9A62B;
    width: 170px;
}

.cate-technology{
    background-color: #38C378;
    width: 140px;
}
.cate-video{
    background-color: #F2272F;
}

.category-area{
    width: 100%;
    background-color: black;
    height: 250px;
}


.vl-entertainment{
    background-color: #FA5480;
}
.vl-sport{
    background-color: #4390F8;
}

.vl-life{
    background-color: #F9A62B;
}

.vl-technology{
    background-color: #38C378;
}
.vl-video{
    background-color: #F2272F;
}

.cate-title{
    margin: 0;
    padding: 0;
    display: block;
}

.category-item{
    float: left;
}


/* Footer Area */

.footer-area{
    background-color: #000000;
}
#footer{
    margin-top: 20px; 
    padding: 15px 0 15px 0;
    color: white;
}

.copyright{
    padding: 0;
}